body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url(../img/fond-legumes.png);
  padding: 50px;
  background-size: cover;
}

.box-title {
  background: white;
  opacity: 90%;
  padding-right: 45px;
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fruit-line {
  padding: 30px;
}

.second-title {
  font-family: 'Maven Pro', sans-serif;
  text-align: center;
}

.intro-text {
  text-align: center;
  margin-bottom: 30px;
}

.slogan {
  color: #7DB96F;
  text-align: center;
}
 
.bouton-green {
  display: flex;
  background-color: #7DB96F;
  color: #ffffff;
  justify-content: center;
  border-radius: 12px;
  margin: 30px;
  margin-bottom: 15px;
  margin-top: 30px;
  padding: 10px;
  font-family: 'Maven Pro', sans-serif;
  text-decoration: none;
}

.bouton-white {
  display: flex;
  background-color: white;
  color: #7DB96F;
  justify-content: center;
  border-radius: 12px;
  margin: 65px;
  margin-bottom: 15px;
  margin-top: 20px;
  padding: 10px;
  font-family: 'Maven Pro', sans-serif;
  text-decoration: none;
}

.white-section {
  background: #ffffff;
  padding: 35px; 
  padding-bottom: 75px;
  padding-top: 30px;
}

.green-section {
  background: #7DB96F;
  padding-top: 5px;
  padding-bottom: 20px;
}

.title-menu {
  display: flex;
  color: white;
  justify-content: center;
  padding-right: 30px;
  padding-top: 5px;
  font-family: 'Maven Pro', sans-serif;
}

.produits {
  background: #FCF7D6;
  margin: 30px;
  border-radius: 20px;
  padding-bottom: 25px;
  box-shadow: 2px 2px 9px 1px rgba(0, 0, 0, 0.2);
}

h2 {
  padding-left: 35px;
  padding-top: 30px;
  margin-bottom: 2px;
  font-family: 'Sriracha', cursive;
}

.second-title {
  color: black;
}

.banane-img {
  width: 25%;
  padding-left:195px;
}

.know-more {
  padding-left: 35px;
  color: black;
  font-family: 'Maven Pro', sans-serif;
}
 
.kiwi {
  background: #D0F1AE;
  margin: 30px;
  border-radius: 20px;
  padding-bottom: 25px;
  box-shadow: 2px 2px 9px 1px rgba(0, 0, 0, 0.2);
}

.kiwi-img {
  width: 25%;
  padding-left: 195px;
}

.intro {
  padding-left: 35px;
  padding-bottom: 5px;
  margin-top: 2px;
  opacity: 50%;
}

.cafe {
  background: #CDC4B0;
  margin: 30px;
  border-radius: 20px;
  padding-bottom: 25px;
  box-shadow: 2px 2px 9px 1px rgba(0, 0, 0, 0.2);
}

.cafe-img {
  width: 25%;
  padding-left: 195px;
}

.fraise {
  background: #E2A2B1;
  margin: 30px;
  border-radius: 20px;
  padding-bottom: 25px;
  box-shadow: 2px 2px 9px 1px rgba(0, 0, 0, 0.2);
}

.fraise-img {
  width: 25%;
  padding-left: 195px;
}

.end-title {
  color:#7DB96F;
}

.facebook {
  display: flex;
  background-color: #7DB96F;
  color:white;
  justify-content: center;
  border-radius: 12px;
  margin: 110px;
  margin-bottom: 15px;
  margin-top: 20px;
  padding: 10px;
  font-family: 'Maven Pro', sans-serif;
  text-decoration: none;
}

.instagram {
  display: flex;
  background-color: #7DB96F;
  color:white;
  justify-content: center;
  border-radius: 12px;
  margin: 95px;
  margin-bottom: 15px;
  margin-top: 20px;
  padding: 10px;
  font-family: 'Maven Pro', sans-serif;
  text-decoration: none;
}

.last {
  color: #7DB96F;
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 45px;
}