body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url(../img/fond-legumes.png);
  padding: 50px;
}

.box-title {
  background: white;
  opacity: 90%;
  padding-right: 45px;
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.slogan {
  color: #7DB96F;
}

.bouton-green {
  display: flex;
  background-color: #7DB96F;
  color: #ffffff;
  justify-content: center;
  border-radius: 12px;
  margin: 30px;
  margin-bottom: 15px;
  margin-top: 30px;
  padding: 10px;
  font-family: 'Space Grotesk', sans-serif;
}

.bouton-white {
  display: flex;
  background-color: white;
  color: #7DB96F;
  justify-content: center;
  border-radius: 12px;
  margin: 65px;
  margin-bottom: 15px;
  margin-top: 20px;
  padding: 10px;
  font-family: 'Space Grotesk', sans-serif;
}

.white-section {
  background: #ffffff;
  padding: 35px; 
  padding-bottom: 65px;
}

.green-section {
  background: #7DB96F;
}

h2 {
  display: flex;
  color: white;
  justify-content: center;
  padding-top: 35px;
}

.produits {
  background: #FCF7D6;
  margin: 30px;
  border-radius: 20px;
  padding-bottom: 25px;
}

h3 {
  padding-left: 35px;
  padding-top: 30px;
  margin-bottom: 2px;
}

.second-title {
  color: black;
}

.banane-img {
  width: 25%;
  padding-left:195px;
}

.know-more {
  padding-left: 35px;
  color: black;
}
 
.kiwi {
  background: #D0F1AE;
  margin: 30px;
  border-radius: 20px;
  padding-bottom: 25px;
}

.kiwi-img {
  width: 25%;
  padding-left: 195px;
}

.intro {
  padding-left: 35px;
  padding-bottom: 5px;
}

.cafe {
  background: #CDC4B0;
  margin: 30px;
  border-radius: 20px;
  padding-bottom: 25px;
}

.cafe-img {
  width: 25%;
  padding-left: 195px;
}
