body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url(../img/fond-legumes.png);
  padding: 50px;
}

.box-title {
  background: white;
  opacity: 90%;
  padding-right: 45px;
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.slogan {
  color: #7DB96F;
}

.bouton-green {
  display: flex;
  background-color: #7DB96F;
  color: #ffffff;
  justify-content: center;
  border-radius: 12px;
  margin: 30px;
  margin-bottom: 15px;
  margin-top: 30px;
  padding: 10px;
  font-family: 'Space Grotesk', sans-serif;
}

.bouton-white {
  display: flex;
  background-color: white;
  color: #7DB96F;
  justify-content: center;
  border-radius: 12px;
  margin: 65px;
  margin-bottom: 15px;
  margin-top: 20px;
  padding: 10px;
  font-family: 'Space Grotesk', sans-serif;
}

.white-section {
  background: #ffffff;
  padding: 35px; 
}